<meta charset="UTF-8">


<% @links.each do |l| %>
  <%= l.inner_text %>
<% end %>

<br><br><br><br><br>

<%= @links.at(0).inner_text %>

<form method="GET" action="/cmap/map_search" style="margin-top:50px;">
  <div class="form-group">
    <label>위/경도 좌표로 변환</label>
    <input type="hidden" class="form-control" name="query" value="<%=@links.at(0).inner_text%>">
  </div>
  <button type="submit" class="btn btn-default" value="">검색</button>
</form>
